<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VideoVerhuur</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <div class="container body-content">
        <div>
            <img src="~/Images/videoVerhuur.jpg" class="left" alt="Vdabmovies" height="150" width="150"/>
            @if (Session["klant"] != null)
            {
               <p>Welkom, @Session["Klant"].ToString()</p>
            }
            else
            {
                <p>Eerst aanmelden om te kunnen huren !</p>
            }
            <p>
            @Html.ActionLink("Uitloggen en naar beginpagina","Index","Home")
                @if (Session["Films"] != null&&((List<MVCVideoVerhuur.Models.Film>)Session["films"]).Count>0)
                {
                    @Html.ActionLink("Afrekenen","Afrekenen")
                }
            </p>
        </div>
        @RenderBody()        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
