@model MVCVideoVerhuur.Models.AfrekenenViewModel

@{
    ViewBag.Title = "Afrekenen";
}

<h2>Afrekenen</h2>
@if(Model.Verhuringen.Count>0)
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">Titel</th>
                <th>Prijs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var verhuur in Model.Verhuringen)
            {
                <tr>
                    <td>@Html.DisplayFor(f=>verhuur.Film.Titel)</td>
                    <td>@Html.DisplayFor(f=>verhuur.Film.Prijs)</td>
                </tr>
            }
            <tr>
                <td class="text-center">Totaal:</td>
                <td>@Html.DisplayFor(m=>m.Totaal)</td>
            </tr>
        </tbody>
    </table>
    <p>Wordt gefactureerd aan:</p>
    <p>@Model.Klant.ToString()</p>
    <p>@Model.Klant.Straat_Nr</p>
    <p>@Model.Klant.PostCode @Model.Klant.Gemeente</p>
}

